body {
  overflow: overlay !important;
  padding-right: 0px !important;
}

.orderCurrency {
  //overflow: auto;
  height: auto;

  float: left;
  width: 200px;
  clear: none;
}

.spanSymbol {
  color: #032b3f;
  font-size: 14px;
  font-weight: bold;
  direction: ltr;
}

.spanCurrency {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 12px;
  //   color: #032b3f;
}

li:hover {
  background-color: #a4a1a875;
  cursor: default;
}

.currencyButton {
  padding-left: 15px !important;
  background-color: white !important;
  border: 1px solid #ffb808 !important;
  color: #032b3f !important;
  border-radius: 50px !important;
  outline: none !important;
  height: 70%;
  top: 15%;
  box-shadow: none !important;
  transition: none !important;
}
