$yellow: #ffb808;
$blue: #032b3f;
$gray-bg: #f6f6f6;
$gray-text: #7c7c7c;

$facebook: #004fb5;
$google: #f14336;

.login-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: $gray-bg;
  border-radius: 6px;
}

.item-login--form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 7px;
  label {
    font-size: 20px;
    color: $gray-text;
    font-weight: bold;
    text-align: left;
  }
}

.item-login--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  a {
    color: $blue;
    font-size: 16px;
    text-decoration: none;
  }
  a.btn {
    color: white;
  }
}

.input-text {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 50px;
  padding: 0 20px;
  i {
    font-size: 30px;
    color: $yellow;
  }
  input {
    width: 100%;
    border: none;
    font-size: 16px;
    color: $blue;
    padding: 10px;
  }
}

///generic flex///

.display-flex {
  display: flex;
}

.flex-direction--row {
  flex-direction: row;
}

///button///
.btn {
  width: 208px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.btn-go {
  background: $yellow;
  color: white;
}

.type-login {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.btn-networks {
  border: 1px solid;
  border-radius: 50px;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: bold;
  min-width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  cursor: pointer;
}

.facebook {
  border-color: $facebook;
  color: $facebook;
}

.google {
  border-color: $google;
  color: $google;
}

.phone {
  border-color: $blue;
  color: $blue;
}
