@import "../../variables.scss";

.box-product {
  padding: 20px 40px;
  background-color: $gray-bg;
  .title-box {
    display: flex;
    justify-content: space-between;
    label {
      font-size: 24px;
      font-weight: 600;
      color: $blue;
    }
  }
}

form {
  .item-form {
    display: flex;
    margin: 0 -7px;
  }
}

.input-tella {
  flex: 1;
  padding: 0 7px;
  position: relative;

  label {
    color: $gray-text;
  }
  input,
  textarea {
    border: 1px solid $gray-border;
    color: $gray-text;
    border-radius: 6px;
    &::placeholder {
      color: $gray-placeholder;
    }
    &:focus {
      box-shadow: none;
      border-color: $gray-text;
    }
  }
}
