$yellow:#FFB808;
$blue:#032B3F;
$gray-bg: #F6F6F6;
$gray-text:#7C7C7C;


.menu-tella{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-tella{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.container-tella{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.logo{
    display: inline-flex;
    img{
        height: 50px;
    }
}

ul{
    div{
        display: flex;
    }
    li{
        list-style: none;
    }
}

.btn-submenu{
    border-radius: 50px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: bold;
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    cursor: pointer;
    background-color: $blue;
    color: white;
    a{
        text-decoration: none;
        color: white;
    }
}

.search{
    background-color: $yellow;
}

.input-search{
    width: 100%;
    margin-left: 40px;
    display: flex;
    align-items: center;
    padding-right:20px; 
    height: 40px;
    background-color: white;
    border-radius: 50px;
    i{
        color:$yellow;
    }
    input{
        width: 100%;
        border:none;
        border-radius: 50px 0 0 50px;
        padding: 0 20px;
        font-size: 14px;
        color:  $gray-text;
        
    }
}

.nav-right{
    display: flex;
    .right{
        margin: 0;
        margin-right: 20px;
    }
}

.lenguage{
    color:$blue;
    .css-ia584n-Control{
        display: flex;
        min-width: 150px;
        border: 1px solid $yellow;
        border-radius: 50px;
        padding: 0 20px;
    }
    .css-1okebmr-indicatorSeparator{
        display: none;
    }
    .css-tlfecz-indicatorContainer{
        color: $blue;

    }

    .css-1wa3eu0-placeholder{
        color: $blue;
        font-weight: bold;
    }

}

.user{
    display: flex;
    justify-content: center;
    min-width: 140px;
    border: 1px solid #FFB808;
    border-radius: 50px;
    padding: 6px 20px;
    li a.active{
        color: $blue;
        font-weight: bold;
        text-decoration: none;
        border:none;
    }
}