@import "../../variables.scss";

.container-login {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  .logo {
    display: flex;
    justify-content: center;
    z-index: 10;
    padding-top: 66px;
    cursor: pointer;
  }
}

.tab-login {
  display: flex;
  padding: 30px 30px 15px;
  cursor: pointer;
  .active {
    border-bottom: 3px solid $yellow;
    color: $yellow;
  }
  
  .inactive {
    border-bottom: 2px solid $blue;
    color: $blue;
  }
}


.item-tab--login {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
