.AutocompleteText {
  width: 100%;
  position: relative;
}

.AutocompleteText ul {
  list-style-type: none;
  text-align: left;
  position: absolute;
  left: 15px;
  top: 32px;
  padding: 0;
  z-index: 10;
  background: white;
  width: 100%;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.3);
}

.AutocompleteText ul li {
  padding: 10px;
  cursor: pointer;
}

.AutocompleteText ul::before {
  content: "";
}

.AutocompleteText li:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 450px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.footer {
  margin: 9px 20px;
  font-size: 12px;
  color: #777;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: -3px;
  left: 98%;
  width: 37px;
  height: 37px;
}
