@import "../variables.scss";


.provider{
    height: 600px;
    background: $gray-bg;
    padding: 40px 0;
}

.title-item--product{
    font-size: 42px;
    color: $blue;
    label{
        border-bottom: 3px solid $yellow;
        font-weight: bold;
        span{
            font-weight: 300;
        }
    }
}

.footer-menu{
    height:286px;
    background-color: $blue;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 80px 0;
        height: 100%;
    }
    h2{
        color: $yellow;
        font-size:16px;
        font-weight: bold; 
    }
    .text-footer{
        span,a{
            color: white;
            text-decoration: none;
            font-size: 12px;
        }
        
    }

    .item-footer--menu{
        input{
            background-color:$blue;
            border-top: 2px solid white;
            border-width: 0 0 2px 0;
            color: white;
            min-width: 300px;
        }
    }
    
}


.first-slider .item-banner-xs{
    display: none;
}

.banner-small {
    .item-first-banner{
        display: none;
    }
    .carousel-indicators{
        display: none;
    }
}

.pd-top--130px{
    padding-top: 130px;
}

.input-search input:focus{
    outline: none;
}