@import "../../variables.scss";

.box-product {
  padding: 20px 40px;
  background-color: $gray-bg;
  .title-box {
    display: flex;
    justify-content: space-between;
    label {
      font-size: 24px;
      font-weight: 600;
      color: $blue;
    }
  }
}

.box-group {
  display: flex;
  justify-content:flex-start;
  padding: 30px 0;
  flex-wrap: wrap;
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 160px;
    color: transparent;
    border-radius: 6px;
    border: 1px solid $gray-border;
    margin:10px 40px 10px 0;
    position: relative;
    .remove{
      display: none;
    }
    &:hover {
      .remove{
        position: absolute;
        background: white;
        display: flex;
        padding: 5px;
        border: 1px solid $gray-border;
        border-radius: 50px;
        color: $yellow;
        z-index: 1;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        cursor: pointer;
      }
      img{
        opacity:0.5;
      }
    }
    
    &.active {
      background: white;
      color: $yellow;
      cursor: pointer;
      i {
        font-size: 40px;
      }
    }
    img{
      max-width: 150px;
      max-height:140px;
      display: block;
    }
  }
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-image{
  display: flex;
}

