$yellow:#FFB808;
$blue:#032B3F;
$gray-bg: #F6F6F6;
$gray-text:#7C7C7C;

.item-first-banner {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-category{
    text-transform: uppercase;
    color: $gray-text;
    font-size: 14px;
    font-weight: bold;
}

.product{
    text-transform:capitalize;
    color: $blue;
    font-size: 48px;
    font-weight: bold;
    max-width: 500px;
    line-height: 50px;
    padding: 15px 0 30px;
}

.value-price{
    color: $yellow;
    font-size: 24px;
    font-weight: bold;
}